@import url("https://fonts.googleapis.com/css2?family=Cardo&family=Inter&display=swap");

.footerMain {
    margin-top: 130px;
    background: #1b3764;
    .footer {
        display: grid;
        grid-template-columns: 1.2fr 1fr 1fr 1fr;
        grid-gap: 20px;
        padding-left: 250px;
        padding-top: 84px;
        padding-right: 250px;
        color: #fff;
        font-family: "Inter";
        padding-bottom: 100px;
        .logo {
            height: 40px;
            font-size: 30px;
            font-weight: 700;
            display: flex;
            justify-content: left;
            align-content: center;
            padding-bottom: 30px;
            span {
                padding-left: 12px;
            }
        }
        .social-icons {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            // grid-gap: px;
            .icon {
                border: 1px solid #fff;
                padding: 5px;
                width: 45px;
                height: 45px;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
        .block2,
        .block3 {
            .title {
                font-family: "Cardo";
                font-size: 24px;
                font-weight: 700;
                margin-bottom: 25px;
            }
            .block {
                color: #b4c7e7;
                display: flex;
                justify-content: start;
                align-items: center;
                font-size: 18px;
                margin: 10px auto;
                img {
                    margin-right: 5px;
                }
            }
        }
        .block4 {
            .title {
                font-family: "Cardo";
                font-weight: 700;
                font-size: 24px;
                margin-bottom: 24px;
            }
            .block {
                margin: 15px auto;
                display: grid;
                grid-template-columns: 1fr 2fr;
                grid-gap: 10px;
                p {
                    font-family: "Cardo";
                    font-size: 18px;
                    font-weight: 700;
                    margin-right: 10px;
                }
                span {
                    color: #b4c7e7;
                    font-size: 18px;
                    font-family: "Inter";
                }
            }
        }
    }

    hr {
        max-width: 80%;
        margin: auto 10%;
    }
    .copy {
        text-align: center;
        color: #b4c7e7;
        font-size: 17px;
        margin-top: 18px;
        padding-bottom: 23px;
        strong {
            color: #fff;
        }
    }
}
